{% extends 'base.html.twig' %}

{% block title %}Parcelle index{% endblock %}

{% block body %}
    <h1>Parcelle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Superficie</th>
                <th>Localisation</th>
                <th>Type_sol</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Utilisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parcelle in parcelles %}
            <tr>
                <td>{{ parcelle.id }}</td>
                <td>{{ parcelle.nom }}</td>
                <td>{{ parcelle.superficie }}</td>
                <td>{{ parcelle.localisation }}</td>
                <td>{{ parcelle.type_sol }}</td>
                <td>{{ parcelle.latitude }}</td>
                <td>{{ parcelle.longitude }}</td>
                <td>{{ parcelle.user ? parcelle.user.email : '' }}</td>
                <td>
                    <a href="{{ path('app_parcelle_show', {'id': parcelle.id}) }}">show</a>
                    <a href="{{ path('app_parcelle_edit', {'id': parcelle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_parcelle_new') }}">Create new</a>
{% endblock %}