{% extends 'base.html.twig' %}

{% block title %}Parcelle{% endblock %}

{% block body %}
    <h1>Parcelle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ parcelle.nom }}</td>
            </tr>
            <tr>
                <th>Superficie</th>
                <td>{{ parcelle.superficie }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ parcelle.localisation }}</td>
            </tr>
            <tr>
                <th>Type_sol</th>
                <td>{{ parcelle.type_sol }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ parcelle.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ parcelle.longitude }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ parcelle.user ? parcelle.user.email : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_parcelle_index') }}" class="btn btn-secondary">back to list</a>
    <a href="{{ path('app_parcelle_new') }}" class="btn btn-primary">Ajouter une parcelle</a>
    <a href="{{ path('app_parcelle_edit', {'id': parcelle.id}) }}" class="btn btn-primary">Modifier</a>
    {{ include('Parcelle/_delete_form.html.twig') }}
{% endblock %}